body {
    background-color: #0B0B0B;
    position: relative;
    /* background-image: url(../images/footer-mask.jpg);
    background-size: cover;
    background-position: bottom; */
}

body::-webkit-scrollbar {
    width: 5px;
  }
    body::-webkit-scrollbar-track {
    background: #000; 
  }
    body::-webkit-scrollbar-thumb {
    background: #99F400; 
      border-radius:0px;
  }
  body::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  } 

  @font-face {
    font-family: "general-sans";
    src: url("../fonts/GeneralSans-Regular.woff2")
  }
  @font-face {
    font-family: "general-semibold-sans";
    src: url("../fonts/GeneralSans-Semibold.woff2")
  }

  .logo img {
    width: 18%;
}


a.btn.btn-primary {
    border-radius: 32px;
    color: #000;
    background: #99F400;
    font-family: "general-semibold-sans";
    font-weight: 900;
    font-size: 12px;
    padding: 11px 17px;
    border: 0;
}

section.main-content h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}
section.main-content p{
    font-size: 16px;
    color: #9D9D9D;
    font-family: "general-sans";
    padding: 20px 0;
}
section.main-content h2 span {
    background-image: url(../images/text-back.svg);
    color: #99F400;
    background-size: cover;
    padding: 15px 5px;
}
section.main-content a.btn.btn-primary {
    font-size: 16px;
    padding: 15px 29px;
}

footer p.copyright {
    font-size: 14px;
    margin: 0 !important;
    color: #858585;
    font-family: 'general-sans';
    font-weight: 500;
}

ul.foot-terms li a.btn.btn-secondary {
    background: transparent;
    border: 0;
    color: #0B0B0B;
    font-family: 'general-sans';
    font-weight: 600;
    font-size: 14px;
}

ul.foot-terms li {
    list-style: none;
}

footer {
    background: url(../images/footer-mask.svg);
    position: absolute;
    width: 100%;
    bottom: -37px;
    height: 35vh;
    display: flex;
    align-items: end;
    background-size: cover;
    background-position: top center;
}
ul.foot-terms {
    display: flex;
    justify-content: flex-end;
    gap: 29px;
    padding: 0;
    margin: 0;
}

section.document-review img {
    width: 70%;
}

@media only screen and (max-width: 767px) {
    .logo img {
        width: 65%;
    }
    
    a.btn.btn-primary {
        font-size: 9px;
        padding: 9px 12px;
    }
    
    section.main-content h2 {
        font-size: 20px;
    }
    
    section.main-content p {
        font-size: 11px;
    }
    
    section.main-content a.btn.btn-primary {
        font-size: 12px;
        padding: 10px 24px;
    }
    footer p.copyright {
        font-size: 10px;
    }
    
    ul.foot-terms {
        flex-direction: column;
        gap: 0;
        align-items: end;
    }
    
    ul.foot-terms li a.btn.btn-secondary {
        font-size: 10px;
    }
    
    footer {
        bottom: -88px;
    }
    
    ul.foot-terms li {
        line-height: 1px;
    }
  }

  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .logo img {
        width: 30%;
    }
}